{% extends "base.html" %}
{% load staticfiles %}  
{% block content %}
  <section class="g-py-10">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-3">
        </div> 
        <div class="col-md-9">
          <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
            <h2 class="g-font-weight-300 g-mr-10">Nuevo Reporte de {{sub.subtema_nombre}}</h2>
          </div>
          <form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" id="" 
          autocomplete="off" method="POST" >
            {% csrf_token %}
            <input type="hidden" name="subtema" value="{{sub.pk}}">
            <div class="row">
              <div class="col-md-12">
                  <div class="form-group g-mb-20">
                    <label class="g-mb-10 text-uppercase toBold">Nombre</label>
                    <input type="text" name="reporte_nombre" id="id_reporte_nombre" class="form-control form-control-md" required maxlength="50">
                    <span class="form-text text-muted">Máximo de caracteres 50</span>
                  </div>
              </div>
              <div class="col-md-12">
                <div class="form-group g-mb-20">
                  <label class="g-mb-10 text-uppercase toBold">Descripción</label>
                  <textarea name="reporte_descripcion" id="id_reporte_descripcion" required class="form-control form-control-md"
                    style="resize:none;" rows="2" maxlength="500"></textarea>
                  <span class="form-text text-muted">Máximo de caracteres 100</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group g-mb-20">
                  <label class="g-mb-10 text-uppercase toBold">Estado</label>
                  <select name="reporte_estado" id="id_reporte_estado" class="form-control" required >
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group g-mb-20">
                  <label class="g-mb-10 text-uppercase toBold">Tipo</label>
                  <select name="reporte_gratuito" id="id_reporte_gratuito" class="form-control" required >
                    <option value="1">Gratuito</option>
                    <option value="0">De paga</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="id_reporte_is_principal" name="reporte_is_principal">
                    <label class="form-check-label" for="defaultCheck1">
                      Es reporte principal?
                    </label>
                  </div>
                </div>
                
              </div>
              <div class="col-md-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="1" id="id_reporte_is_secundario" name="reporte_is_secundario">
                  <label class="form-check-label" for="defaultCheck1">
                    Es reporte secundario?
                  </label>
                </div>
              </div>
              
              <div class="col-md-12">
                <div class="form-group g-mb-20">
                  <label class="g-mb-10 text-uppercase toBold">Iframe</label>
                  <textarea name="reporte_iframe" id="id_reporte_iframe" class="form-control form-control-md"
                  rows="2" maxlength="5000" required style="resize:none;"></textarea>
                  <span class="form-text text-muted">Etiqueta iframe</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group g-mb-20">
                  <label class="g-mb-10 text-uppercase toBold">Referencias</label>
                  <input type="text" name="reporte_referencias" id="id_reporte_referencias" class="form-control form-control-md" 
                  required maxlength="5000" placeholder="https://www.google.com/; https://www.youtube.com/;">
                  <span class="form-text text-muted">Separar cada referencia con ";"</span>
                </div>
              </div> 
              <div class="col-md-12">
                <div class="form-group g-mb-20">
                  <label class="g-mb-10 text-uppercase toBold">Tags</label>
                  <input type="text" name="reporte_tags" id="id_reporte_tags" class="form-control form-control-md" 
                  required maxlength="100" placeholder="#educacion #literatura">
                  <span class="form-text text-muted">Se reconocera como tags a todo lo que comience con "#"</span>
                </div>
              </div>
            </div>
          <hr>
          <div class="row">
              <div class="col-md-12 text-right">
                <input type="submit" name="btn_submit" id="btnSubmit" class="btn btn-primary" value="Aceptar">
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/inputsRequeridos.js' %}"></script>
  <script>
    $(document).on('ready', function(){
    });
  </script>
{% endblock javascript %}