{% extends "base.html" %}
{% load staticfiles %} 
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/dataTables.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/DataTables/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/DataTables/Buttons/css/buttons.bootstrap4.min.css' %}">
  <section class="g-py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="{% url 'subtemas_nuevo' %}" class="btn btn-md u-btn-primary g-rounded-50 g-mr-10 g-mb-15 bg_my_morado">Crear sub tema</a>
        </div>
        <div class="col-md-9">
            <h2 class="g-font-weight-300">Listado de Sub Temas</h2>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table" id="idTblSubTemas">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Tema</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for x in listado %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{x.subtema_nombre}}</td>
                    <td>{{x.tema__tema_nombre}}</td>
                    <td>{% if x.subtema_estado %} Activo {% else %} Inactivo {% endif %}</td>
                    <td>
                      <a href="{% url 'subtemas_editar' x.subtema_id %}"  class="btn btn-secondary btn-xs">Editar</a>
                      <a href="{% url 'reportes_listado' x.subtema_id %}"  class="btn btn-secondary btn-xs">Reportes</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block javascript %}
<script src="{% static 'vendor/DataTables/datatables.min.js' %} "></script>
<script src="{% static 'vendor/DataTables/DataTables/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
  $(document).on('ready', function(){
    $('#idTblSubTemas').DataTable({
      "language":{
          "sProcessing":     "Procesando...",
          "sLengthMenu":     "Mostrar _MENU_ registros",
          "sZeroRecords":    "No se encontraron resultados",
          "sEmptyTable":     "Ningún dato disponible en esta tabla",
          "sInfo":           "Mostrando del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty":      "Mostrando del 0 al 0 de un total de 0 registros",
          "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix":    "",
          "sSearch":         "Buscar:",
          "sUrl":            "",
          "sInfoThousands":  ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
              "sFirst":    "Primero",
              "sLast":     "Último",
              "sNext":     "Siguiente",
              "sPrevious": "Anterior"
          },
          "oAria": {
              "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
              "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
      }
  });
  });
</script>
{% endblock javascript %}