{% extends "base.html" %}
{% load staticfiles %} 
{% block content %}
  <link rel="stylesheet" href="{% static '/css/styleiframe.css' %}">
  <link rel="stylesheet" href="{% static '/css/temas_detalle.css' %}">
  <section class="g-py-5">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-12">
          <h3 class="color_my_morado">Bienvenido (a), {{request.user.first_name}}</h3><br>
          <h1  style="color:#000;">¿Qué te interesa saber de <span class="color_my_morado">{{tema.tema_nombre}}</span> ?</h1>
        </div>
      </div>
      <hr>
        {% include 'extras_temas/subtemas.html' %}
    </div>
  </section>
{% endblock content %}
{% block javascript %}
<script>
  $(document).ready(function(){
    $(document).on('click', '.icono_mostrar', function(){
      if($(this).hasClass('hide')){
        $this = $(this);
        var codigo = $(this).data('id');
        $.ajax({
          type: "GET",
          data: {
            codigo : codigo,
          },
          url: "{% url 'temas_detalle' 0  %}",
          success: function(data){
            showRpt(data.listado, $this);
          },
          error: function(jqXHR, textStatus, errorThrown) {
              alert(textStatus + ': ' + errorThrown +'. '+'Intenta de Nuevo');
          },
          timeout: 10000
        });
        $(this).closest('.rowMaster').find('.whereLoadRpt').css({"border-top": "1px solid #523192", "padding-top":"20px" });
        $(this).closest('div.rowMaster').find('div.subtema_col').removeClass('col-md-3');
        $(this).closest('div.rowMaster').find('div.subtema_col').addClass('col-md-12');
        $(this).removeClass('fa-plus').removeClass('hide').addClass('fa-minus').addClass('show');
        $(this).closest('div.rowMaster').find('.border_subtema').addClass('toShowRpt');
      }else{
        $(this).closest('div.rowMaster').find('div.subtema_col').removeClass('col-md-12');
        $(this).closest('div.rowMaster').find('div.subtema_col').addClass('col-md-3');
        $(this).removeClass('fa-minus').removeClass('show').addClass('fa-plus').addClass('hide');
        $(this).closest('div.rowMaster').find('div.border_subtema').removeClass('toShowRpt');
        $(this).closest('.rowMaster').find('.whereLoadRpt').empty();
        $(this).closest('.rowMaster').find('.iframediv').remove();
        $(this).closest('.rowMaster').find('.whereLoadRpt').css({"border-top": "none", "padding-top":""});
      }
    });

    function showRpt(data, $where){
      $.each(data, function(key, val){
        $($where).closest('.rowMaster').find('.whereLoadRpt').append([
          '<div class="col-md-3 text-center rptLink" data-id="'+val.reporte_id+'">',
            '<div class="rptLogo" >',
            '<img src="/media/'+val.reporte_logo+'" class="imglogo">',
            '</div>',
            '<h4 class="h5">'+ val.reporte_nombre+'<h4>',
          '</div>'
          ].join(''));
      });
    }
  });
</script>
<script>
  $(document).ready(function(){
    $(document).on('click', '.rptLink', function(){
      $this = $(this);
      var codigo = $(this).data('id');
      $.ajax({
          type: "GET",
          data: {
            codigo : codigo,
          },
          url: "{% url 'reportes_listado' 0 %}",
          success: function(data){
            setIframe(data.listado, $this);
          },
          error: function(jqXHR, textStatus, errorThrown) {
              alert(textStatus + ': ' + errorThrown +'. '+'Intenta de Nuevo');
          },
          timeout: 10000
        });
    });
    function setIframe(data, $where){
      $($where).closest('.rowMaster').find('.iframediv').remove();
      $($where).closest('.rowMaster').find('.border_subtema').append([
        '<div class="row iframediv">',
          '<div class="col-md-12 text-center" >',
            '<div class="embed-responsive embed-responsive-16by9">',
              '<iframe class="embed-responsive-item" src="'+data.reporte_url+'" allowfullscreen></iframe>',
              '</div>',
          '</div>',
        '</div>'
        ].join(''));
    }

  });
</script>
{% endblock javascript %}