{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/dist/css/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2-bootstrap4.css' %}">
  <section class="g-py-100">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-9">
          <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
            <h2 class="g-font-weight-300 g-mr-10">Detalle usuario: {{us.username}}</h2>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="list-unstyled g-px-30 g-mb-0">
                <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>Nombre: </b> {{us.first_name}} {{us.last_name}}</li>
                <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>Correo electrónico: </b> {{us.email}}</li>
                <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>Estado: </b> {{us.is_active}}</li>
                <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>Tiempo de uso: </b> {{hours}} horas</li>
                <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>Ultima sesión: </b> {{us.last_login}} </li>
                <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><b>Fecha de registro: </b> {{us.date_joined}}</li>
                <li class="g-py-8 text-right">
                  <a href="{% url 'usuarios_reset_pwd' us.id %}" class="btn btn-success btn-sm">Cambiar contraseña</a>
                </li>
              </ul>
            </div>
            <hr>
          </div>
        </div>
        <div class="col-md-9">
          <h4 class="g-font-weight-300 g-mr-10">Reportes visualizados</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Reporte</th>
                  <th>Última visualización</th>
                  <th>Cantidad de visualizaciones</th>
                </tr>
              </thead>
              <tbody>
        
                {% for x in listadpoRpt %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{x.reporte__subtema__subtema_nombre}}, {{x.reporte__reporte_nombre}}</td>
                  <td>{{x.bit_last_date}}</td>
                  <td>{{x.bit_counter}}</td>
                </tr>
                {% endfor %}
        
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'vendor/select2/dist/js/select2.min.js' %}"></script>
  <script src="{% static 'js/inputsRequeridos.js' %}"></script>
  <script>
    $(document).on('ready', function(){

    });
  </script>
{% endblock javascript %}