{% extends "base.html" %}
{% load staticfiles %} 
{% block content %} 
  <style type="text/css">
    .div_temas{
      margin-bottom: 10px;
    }

    .div_temas:hover{
      cursor: pointer;
    }
  </style>
      <section class="g-py-10">
        <div class="container">
        <div class="row no-gutters">
          <div class="col-md-12">
          	{% include 'extras/slide1.html' %}
            {% include 'extras/slide2.html' %}
            {% include 'extras/slide3.html' %}
          </div>
        </div> 
        </div>
      </section>
      <hr class="g-brd-gray-light-v4 my-0">
       
      <section class="g-py-100">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 style="color:#000;">¿Cuál es el tema de tu interés?</h1>
            </div>
          </div><br><br>
          {% include 'extras/reportes_circulos.html' with listadometas=listado_metas %}
        </div>
      </section> 
      <br>
{% endblock content %}

{% block javascript %}
  <script type="text/javascript">
    $(document).on('ready', function(){
        $(document).on('click', '.circle', function(){
          location.href= $(this).data('url');
        });
    });
  </script>
  <script>
    $(document).on('ready', function(){
      $('.mySlides').hide();
      var myIndex = 0;
      carousel();
      function carousel() {
        var i;
        var x = $('body').find(".mySlides");
        $(".mySlides").hide();
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        $(x[myIndex-1]).fadeIn();
        setTimeout(carousel, 5000); // Change image every 5 seconds
      }
    });
  </script>

{% endblock javascript %}