{% extends "base.html" %}
{% load staticfiles %} 
{% block content %}
  <style type="text/css">
    .div_temas{
      margin-bottom: 8px ! important;
      transition: transform 0.5s ease-in-out;
    }
    .div_temas:hover{
      cursor: pointer; 
      -webkit-transform: scale(1.05) ;
      -ms-transform: scale(1.05) ;
      transform: scale(1.05) ;
      transition: transform 0.5s ease-in-out;
    }
    
  </style>
      <!-- Promo Block -->
  <hr class="g-brd-gray-light-v4 my-0">
  <section class="g-py-50">
    <div class="container">
      {% include 'extras/mensaje.html' %}
      <div class="row">
        <div class="col-md-12">
          <h3 class="color_my_morado">Bienvenido (a), {{request.user.first_name}}</h3><br>
          <h1 style="color:#000;">¿Cuál es el tema de tu interés?</h1>
        </div>
      </div><br><br>
      {% include 'extras/reportes_circulos.html' %}
    </div>
  </section>
{% endblock content %}
{% block javascript %}
<script>
  $(document).on('ready', function(){
    $(document).on('click', '.div_temas', function(){
      location.href= $(this).data('url');
    });
  });
</script>
{% endblock javascript %}