{% load staticfiles %} 
{% for x in listado_subtemas  %} 
	<div class="row rowMaster">
		<div class="col-md-3 subtema_col" >
			<div class="border_subtema" data-id="rpt_tipos-{{x.subtema_id}}">
				<div class="row">
					<div class="col-md-9">
						<h4><strong class="h4 color_my_morado ">{{x.subtema_nombre}}</strong></h4>
					</div>
					<div class="col-md-3 text-right">
						<span class="h4"><i class="fa fa-plus color_my_amarillo icono_mostrar hide" data-id="{{x.subtema_id}}"></i></span>
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row whereLoadRpt">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}


	
			
	


	

