{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <section class="g-mb-100">
    <div class="container">
      <div class="row">
        {% include 'perfil_menu.html' %}
        <div class="col-lg-9">
          <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
            <h2 class="g-font-weight-300 g-mr-10">Cambiar Contraseña</h2>
          </div>
          <form method="POST" class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30">
            {% csrf_token %}
              <div class="row">
                <div class="col-md-12">
                  {% for field in form %}
                    <div class="form-group g-mb-20">
                      {{ field.label_tag }}
                      {{ field }}
                      {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                      {% endif %}
                      {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                      {% endfor %}
                      </p>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-12 text-right">
                    <input type="submit" name="btn_submit" id="btnSubmit" class="btn btn-primary" value="Aceptar">
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
{% block javascript %}
  <script>
    $(document).ready(function(){
      $('#idCambioPass').addClass('active');
      $("input[type=password]").addClass('form-control');
    });
  </script>
{% endblock javascript %}