<!-- Profile Sidebar -->
<div class="col-lg-3 g-mb-50 g-mb-0--lg">
  {% include 'perfil_imagen.html' %}

  <div class="list-group list-group-border-0 g-mb-40">
    <a class="list-group-item list-group-item-action justify-content-between" href="{% url 'perfil' %}" id="idVistaGeneral">
      <span><i class="fa fa-home g-pos-rel g-top-1 g-mr-8" style="font-size:1.3rem;"></i> Vista general de la cuenta</span>
    </a>
    <a href="#!" class="list-group-item list-group-item-action justify-content-between" id="idEditarPerfil">
      <span><i class="fa fa-edit g-pos-rel g-top-1 g-mr-8" style="font-size:1.3rem;"></i>Editar perfil</span>
    </a>
    <a href="#!" class="list-group-item list-group-item-action justify-content-between" id="idSuscripcion">
      <span><i class="fa fa-credit-card g-pos-rel g-top-1 g-mr-8" style="font-size:1.3rem;"></i>Suscripción</span>
    </a>
    <a href="#!" class="list-group-item list-group-item-action justify-content-between" id="idMisProductos">
      <span><i class="fa fa-shopping-bag g-pos-rel g-top-1 g-mr-8" style="font-size:1.3rem;"></i>Mis producto/servicio</span>
    </a>
    <a href="#!" class="list-group-item list-group-item-action justify-content-between" id="idMisReportes">
      <span><i class="fa fa-heart g-pos-rel g-top-1 g-mr-8" style="font-size:1.3rem;"></i>Mis reportes favoritos</span>
    </a>
    <a class="list-group-item list-group-item-action justify-content-between" href="{% url 'change_password' %}" id="idCambioPass">
      <span><i class="fa fa-unlock-alt g-pos-rel g-top-1 g-mr-8" style="font-size:1.3rem;"></i>Cambiar Contraseña</span>
    </a>
  </div>
</div>
